.terminal {
  --terminal-b: #1E1E1F;
  --terminal-f: #BBBBBB;
  --ANSI-black: #000000;
  --ANSI-black-b: #000000;
  --ANSI-red: #FF4050;
  --ANSI-red-b: #B82421;
  --ANSI-green: #5C962C;
  --ANSI-green-b: #458500;
  --ANSI-yellow: #E5BF00;
  --ANSI-yellow-b: #A87B00;
  --ANSI-blue: #1FB0FF;
  --ANSI-blue-b: #1778BD;
  --ANSI-magenta: #ED7EED;
  --ANSI-magenta-b: #B247B2;
  --ANSI-cyan: #00E5E5;
  --ANSI-cyan-b: #006E6E;
  --ANSI-gray: #595959;
  --ANSI-gray-b: #424242;
  --ANSI-dark-gray: #595959;
  --ANSI-dark-gray-b: #424242;
  --ANSI-dark-red: #F0524F;
  --ANSI-dark-red-b: #772E2C;
  --ANSI-dark-green: #5C962C;
  --ANSI-dark-green-b: #39511F;
  --ANSI-dark-yellow: #A68A0D;
  --ANSI-dark-yellow-b: #5C4F17;
  --ANSI-dark-blue: #3993D4;
  --ANSI-dark-blue-b: #245980;
  --ANSI-dark-magenta: #A771BF;
  --ANSI-dark-magenta-b: #5C4069;
  --ANSI-dark-cyan: #00A3A3;
  --ANSI-dark-cyan-b: #154F4F;
  --ANSI-white: #FFF;
  --ANSI-white-b: #FFF;
}