:root {
  --black: #000000;
  --white: #FFFFFF;
  /*
  --dark-gray: var(--gray-8);
  --darker-gray: var(--gray-9);

  --gray: var(--gray-5);
  --primary: var(--primary-5);
  --success: var(--success-5);
  --warning: var(--warning-5);
  --error: var(--error-5);
  --red: var(--red-5);
  --orange: var(--orange-5);
  --yellow: var(--yellow-5);
  --lime: var(--lime-5);
  --green: var(--green-5);
  --teal: var(--teal-5);
  --cyan: var(--cyan-5);
  --sky: var(--sky-5);
  --blue: var(--blue-5);
  --indigo: var(--indigo-5);
  --violet: var(--violet-5);
  --purple: var(--purple-5);
  --fuchsia: var(--fuchsia-5);
  --pink: var(--pink-5);
  */

/*   --gray-0: #F9F9F9;
  --gray-1: #F4F4F4;
  --gray-2: #E7E7E7;
  --gray-3: #D3D3D3;
  --gray-4: #A0A0A0;
  --gray-5: #717171;
  --gray-6: #535353;
  --gray-7: #3F3F3F;
  --gray-8: #272727;
  --gray-9: #161616;

  --primary-0: var(--indigo-0);
  --primary-1: var(--indigo-1);
  --primary-2: var(--indigo-2);
  --primary-3: var(--indigo-3);
  --primary-4: var(--indigo-4);
  --primary-5: var(--indigo-5);
  --primary-6: var(--indigo-6);
  --primary-7: var(--indigo-7);
  --primary-8: var(--indigo-8);
  --primary-9: var(--indigo-9);

  --success-0: #ECFDF5;
  --success-1: #D1FAE5;
  --success-2: #A7F3D0;
  --success-3: #6EE7B7;
  --success-4: #34D399;
  --success-5: #10B981;
  --success-6: #059669;
  --success-7: #047857;
  --success-8: #065F46;

  --warning-0: #FFFBEB;
  --warning-1: #FEF3C7;
  --warning-2: #FDE68A;
  --warning-3: #FCD34D;
  --warning-4: #FBBF24;
  --warning-5: #F59E0B;
  --warning-6: #D97706;
  --warning-7: #B45309;
  --warning-8: #92400E;
  --warning-9: #78350F;

  --error-0: #FFF1F2;
  --error-1: #FFE4E6;
  --error-2: #FECDD3;
  --error-3: #FDA4AF;
  --error-4: #FB7185;
  --error-5: #F43F5E;
  --error-6: #E11D48;
  --error-7: #BE123C;
  --error-8: #9F1239;
  --error-9: #881337;

  --red-0: #FEF2F2;
  --red-1: #FEE2E2;
  --red-2: #FECACA;
  --red-3: #FCA5A5;
  --red-4: #F87171;
  --red-5: #EF4444;
  --red-6: #DC2626;
  --red-7: #B91C1C;
  --red-8: #991B1B;
  --red-9: #7F1D1D;

  --orange-0: #FFF7ED;
  --orange-1: #FFEDD5;
  --orange-2: #FED7AA;
  --orange-3: #FDBA74;
  --orange-4: #FB923C;
  --orange-5: #F97316;
  --orange-6: #EA580C;
  --orange-7: #C2410C;
  --orange-8: #9A3412;
  --orange-9: #7C2D12;

  --yellow-0: #FEFCE8;
  --yellow-1: #FEF9C3;
  --yellow-2: #FEF08A;
  --yellow-3: #FDE047;
  --yellow-4: #FACC15;
  --yellow-5: #EAB308;
  --yellow-6: #CA8A04;
  --yellow-7: #A16207;
  --yellow-8: #854D0E;
  --yellow-9: #713F12;

  --lime-0: #F7FEE7;
  --lime-1: #ECFCCB;
  --lime-2: #D9F99D;
  --lime-3: #BEF264;
  --lime-4: #A3E635;
  --lime-5: #84CC16;
  --lime-6: #65A30D;
  --lime-7: #4D7C0F;
  --lime-8: #3F6212;
  --lime-9: #365314;

  --green-0: #F0FDF4;
  --green-1: #DCFCE7;
  --green-2: #BBF7D0;
  --green-3: #86EFAC;
  --green-4: #4ADE80;
  --green-5: #22C55E;
  --green-6: #16A34A;
  --green-7: #15803D;
  --green-8: #166534;
  --green-9: #14532D;

  --teal-0: #F0FDFA;
  --teal-1: #CCFBF1;
  --teal-2: #99F6E4;
  --teal-3: #5EEAD4;
  --teal-4: #2DD4BF;
  --teal-5: #14B8A6;
  --teal-6: #0D9488;
  --teal-7: #0F766E;
  --teal-8: #115E59;
  --teal-9: #134E4A;

  --cyan-0: #ECFEFF;
  --cyan-1: #CFFAFE;
  --cyan-2: #A5F3FC;
  --cyan-3: #67E8F9;
  --cyan-4: #22D3EE;
  --cyan-5: #06B6D4;
  --cyan-6: #0891B2;
  --cyan-7: #0E7490;
  --cyan-8: #155E75;
  --cyan-9: #164E63;

  --sky-0: #F0F9FF;
  --sky-1: #E0F2FE;
  --sky-2: #BAE6FD;
  --sky-3: #7DD3FC;
  --sky-4: #38BDF8;
  --sky-5: #0EA5E9;
  --sky-6: #0284C7;
  --sky-7: #0369A1;
  --sky-8: #075985;
  --sky-9: #0C4A6E;

  --blue-0: #EFF6FF;
  --blue-1: #DBEAFE;
  --blue-2: #BFDBFE;
  --blue-3: #93C5FD;
  --blue-4: #60A5FA;
  --blue-5: #3B82F6;
  --blue-6: #2563EB;
  --blue-7: #1D4ED8;
  --blue-8: #1E40AF;
  --blue-9: #1E3A8A;

  --indigo-0: #EEF2FF;
  --indigo-1: #E0E7FF;
  --indigo-2: #C7D2FE;
  --indigo-3: #A5B4FC;
  --indigo-4: #818CF8;
  --indigo-5: #6366F1;
  --indigo-6: #4F46E5;
  --indigo-7: #4338CA;
  --indigo-8: #3730A3;
  --indigo-9: #312E81;

  --violet-0: #F5F3FF;
  --violet-1: #EDE9FE;
  --violet-2: #DDD6FE;
  --violet-3: #C4B5FD;
  --violet-4: #A78BFA;
  --violet-5: #8B5CF6;
  --violet-6: #7C3AED;
  --violet-7: #6D28D9;
  --violet-8: #5B21B6;
  --violet-9: #4C1D95;

  --purple-0: #FAF5FF;
  --purple-1: #F3E8FF;
  --purple-2: #E9D5FF;
  --purple-3: #D8B4FE;
  --purple-4: #C084FC;
  --purple-5: #A855F7;
  --purple-6: #9333EA;
  --purple-7: #7E22CE;
  --purple-8: #6B21A8;
  --purple-9: #581C87;

  --fuchsia-0: #FDF4FF;
  --fuchsia-1: #FAE8FF;
  --fuchsia-2: #F5D0FE;
  --fuchsia-3: #F0ABFC;
  --fuchsia-4: #E879F9;
  --fuchsia-5: #D946EF;
  --fuchsia-6: #C026D3;
  --fuchsia-7: #A21CAF;
  --fuchsia-8: #86198F;
  --fuchsia-9: #701A75;

  --pink-0: #FDF2F8;
  --pink-1: #FCE7F3;
  --pink-2: #FBCFE8;
  --pink-3: #F9A8D4;
  --pink-4: #F472B6;
  --pink-5: #EC4899;
  --pink-6: #DB2777;
  --pink-7: #BE185D;
  --pink-8: #9D174D;
  --pink-9: #831843; */

  --blue-0: #f4fafe;
  --blue-1: #cae6fc;
  --blue-2: #a0d2fa;
  --blue-3: #75bef8;
  --blue-4: #4baaf5;
  --blue-5: #2196f3;
  --blue-6: #1c80cf;
  --blue-7: #1769aa;
  --blue-8: #125386;
  --blue-9: #0d3c61;
  --green-0: #f7faf5;
  --green-1: #dbe8cf;
  --green-2: #bed6a9;
  --green-3: #a1c384;
  --green-4: #85b15e;
  --green-5: #689f38;
  --green-6: #588730;
  --green-7: #496f27;
  --green-8: #39571f;
  --green-9: #2a4016;
  --yellow-0: #fffcf5;
  --yellow-1: #fef0cd;
  --yellow-2: #fde4a5;
  --yellow-3: #fdd87d;
  --yellow-4: #fccc55;
  --yellow-5: #fbc02d;
  --yellow-6: #d5a326;
  --yellow-7: #b08620;
  --yellow-8: #8a6a19;
  --yellow-9: #644d12;
  --cyan-0: #f2fcfd;
  --cyan-1: #c2eff5;
  --cyan-2: #91e2ed;
  --cyan-3: #61d5e4;
  --cyan-4: #30c9dc;
  --cyan-5: #00bcd4;
  --cyan-6: #00a0b4;
  --cyan-7: #008494;
  --cyan-8: #006775;
  --cyan-9: #004b55;
  --pink-0: #fef4f7;
  --pink-1: #fac9da;
  --pink-2: #f69ebc;
  --pink-3: #f1749e;
  --pink-4: #ed4981;
  --pink-5: #e91e63;
  --pink-6: #c61a54;
  --pink-7: #a31545;
  --pink-8: #801136;
  --pink-9: #5d0c28;
  --indigo-0: #f6f7fc;
  --indigo-1: #d5d9ef;
  --indigo-2: #b3bae2;
  --indigo-3: #919cd5;
  --indigo-4: #707dc8;
  --indigo-5: #4e5fbb;
  --indigo-6: #42519f;
  --indigo-7: #374383;
  --indigo-8: #2b3467;
  --indigo-9: #1f264b;
  --teal-0: #f2faf9;
  --teal-1: #c2e6e2;
  --teal-2: #91d2cc;
  --teal-3: #61beb5;
  --teal-4: #30aa9f;
  --teal-5: #009688;
  --teal-6: #008074;
  --teal-7: #00695f;
  --teal-8: #00534b;
  --teal-9: #003c36;
  --orange-0: #fffaf2;
  --orange-1: #ffe6c2;
  --orange-2: #ffd391;
  --orange-3: #ffbf61;
  --orange-4: #ffac30;
  --orange-5: #ff9800;
  --orange-6: #d98100;
  --orange-7: #b36a00;
  --orange-8: #8c5400;
  --orange-9: #663d00;
  --bluegray-0: #f7f9f9;
  --bluegray-1: #d9e0e3;
  --bluegray-2: #bbc7cd;
  --bluegray-3: #9caeb7;
  --bluegray-4: #7e96a1;
  --bluegray-5: #607d8b;
  --bluegray-6: #526a76;
  --bluegray-7: #435861;
  --bluegray-8: #35454c;
  --bluegray-9: #263238;
  --purple-0: #faf4fb;
  --purple-1: #e7cbec;
  --purple-2: #d4a2dd;
  --purple-3: #c279ce;
  --purple-4: #af50bf;
  --purple-5: #9c27b0;
  --purple-6: #852196;
  --purple-7: #6d1b7b;
  --purple-8: #561561;
  --purple-9: #3e1046;
  --red-0: #fef6f5;
  --red-1: #fcd2cf;
  --red-2: #faaea9;
  --red-3: #f88a82;
  --red-4: #f6675c;
  --red-5: #f44336;
  --red-6: #cf392e;
  --red-7: #ab2f26;
  --red-8: #86251e;
  --red-9: #621b16;
}
