:root {
  --black: #000000;
  --white: #FFFFFF;

  --blue-0: #f4fafe;
  --blue-1: #cae6fc;
  --blue-2: #a0d2fa;
  --blue-3: #75bef8;
  --blue-4: #4baaf5;
  --blue-5: #2196f3;
  --blue-6: #1c80cf;
  --blue-7: #1769aa;
  --blue-8: #125386;
  --blue-9: #0d3c61;
  --green-0: #f7faf5;
  --green-1: #dbe8cf;
  --green-2: #bed6a9;
  --green-3: #a1c384;
  --green-4: #85b15e;
  --green-5: #689f38;
  --green-6: #588730;
  --green-7: #496f27;
  --green-8: #39571f;
  --green-9: #2a4016;
  --yellow-0: #fffcf5;
  --yellow-1: #fef0cd;
  --yellow-2: #fde4a5;
  --yellow-3: #fdd87d;
  --yellow-4: #fccc55;
  --yellow-5: #fbc02d;
  --yellow-6: #d5a326;
  --yellow-7: #b08620;
  --yellow-8: #8a6a19;
  --yellow-9: #644d12;
  --cyan-0: #f2fcfd;
  --cyan-1: #c2eff5;
  --cyan-2: #91e2ed;
  --cyan-3: #61d5e4;
  --cyan-4: #30c9dc;
  --cyan-5: #00bcd4;
  --cyan-6: #00a0b4;
  --cyan-7: #008494;
  --cyan-8: #006775;
  --cyan-9: #004b55;
  --pink-0: #fef4f7;
  --pink-1: #fac9da;
  --pink-2: #f69ebc;
  --pink-3: #f1749e;
  --pink-4: #ed4981;
  --pink-5: #e91e63;
  --pink-6: #c61a54;
  --pink-7: #a31545;
  --pink-8: #801136;
  --pink-9: #5d0c28;
  --indigo-0: #f6f7fc;
  --indigo-1: #d5d9ef;
  --indigo-2: #b3bae2;
  --indigo-3: #919cd5;
  --indigo-4: #707dc8;
  --indigo-5: #4e5fbb;
  --indigo-6: #42519f;
  --indigo-7: #374383;
  --indigo-8: #2b3467;
  --indigo-9: #1f264b;
  --teal-0: #f2faf9;
  --teal-1: #c2e6e2;
  --teal-2: #91d2cc;
  --teal-3: #61beb5;
  --teal-4: #30aa9f;
  --teal-5: #009688;
  --teal-6: #008074;
  --teal-7: #00695f;
  --teal-8: #00534b;
  --teal-9: #003c36;
  --orange-0: #fffaf2;
  --orange-1: #ffe6c2;
  --orange-2: #ffd391;
  --orange-3: #ffbf61;
  --orange-4: #ffac30;
  --orange-5: #ff9800;
  --orange-6: #d98100;
  --orange-7: #b36a00;
  --orange-8: #8c5400;
  --orange-9: #663d00;
  --bluegray-0: #f7f9f9;
  --bluegray-1: #d9e0e3;
  --bluegray-2: #bbc7cd;
  --bluegray-3: #9caeb7;
  --bluegray-4: #7e96a1;
  --bluegray-5: #607d8b;
  --bluegray-6: #526a76;
  --bluegray-7: #435861;
  --bluegray-8: #35454c;
  --bluegray-9: #263238;
  --purple-0: #faf4fb;
  --purple-1: #e7cbec;
  --purple-2: #d4a2dd;
  --purple-3: #c279ce;
  --purple-4: #af50bf;
  --purple-5: #9c27b0;
  --purple-6: #852196;
  --purple-7: #6d1b7b;
  --purple-8: #561561;
  --purple-9: #3e1046;
  --red-0: #fef6f5;
  --red-1: #fcd2cf;
  --red-2: #faaea9;
  --red-3: #f88a82;
  --red-4: #f6675c;
  --red-5: #f44336;
  --red-6: #cf392e;
  --red-7: #ab2f26;
  --red-8: #86251e;
  --red-9: #621b16;
}
