.ui-icon {
  vertical-align: bottom;

  svg {
    transform-origin: center center;
  }

  use {
    fill: currentColor; // var(--text-color);
    stroke: currentColor;
    stroke-width: 0;
  }

  &_button {
    cursor: pointer;
    border-radius: 4px;
    outline: none;

    &:focus {
      background-color: var(--secondary-color-focus-text);
    }

    &:hover {
      background-color: var(--secondary-color-hover-text);
    }

    &:active {
      background-color: var(--secondary-color-active-text);
    }
  }
}
