:root {
  --vh: 1vh;
  --vhf: calc(var(--vh) * 100);
}

* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}

html {
  height: 100%;
  --background-color: var(--surface-ground);
  background-color: var(--background-color);
  overflow: visible;
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
  --header-height: 64px;
  color: var(--text-color);

  &.scrollbar-prevent-scrolling,
  &.menu-prevent-scrolling,
  &.dialog-prevent-scrolling {
    scroll-behavior: auto;
    overflow: hidden;
  }
}

*[data-popper-placement][data-popper-hidden=true] {
  visibility: hidden;
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}

.header, .main, .footer {
  padding-inline: calc(max(24px, calc(50vw - 696px)));
}

.header, .footer {
  background-color: var(--surface-card);
  box-shadow: 0 3px 5px rgb(0 0 0 / 4%), 0 0 2px rgb(0 0 0 / 10%), 0 1px 4px rgb(0 0 0 / 16%);
}

.header {
  display: flex;
  height: var(--header-height);
  top: 0;
  position: fixed;
  width: 100vw;
  padding-block: 4px;
  z-index: 10;
  gap: 24px;
}

.app-header-logo {
  display: flex;
  align-items: center;

  svg,
  use {
    width: 192px;
    height: 48px;
  }
}

body {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: calc(var(--vhf) + 64px);
  overflow-x: hidden;
  padding-top: 64px;
  max-width: 100vw;

  @media (max-width: 768px)  {
    padding-top: 48px;
  }

  .main {
    min-height: calc(var(--vhf) - 64px);
    @media (max-width: 768px) {
      min-height: calc(var(--vhf) - 48px);
    }
  }
}

.main {
  min-height: var(--vhf);
  padding-block: 24px 24px;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-block: 12px;
  min-height: 64px;
  gap: 12px;
}

@media (max-width: 768px) {
  html {
    --header-height: 48px;
  }

  .header {
    gap: 8px;
    padding: 6px 12px;
  }

  .app-header-logo {
    position: absolute;
    right: calc(max(50%, 160px));
    translate: 50%;

    svg {
      scale: 0.75;
      margin-top: -6px;
    }
  }
}
