@media (prefers-color-scheme: light) {
  :root {
    --surface-a: #fff;
    --surface-b: #fafafa;
    --surface-c: #0000000a;
    --surface-d: #0000001f;
    --surface-e: #fff;
    --surface-f: #fff;
    --text-color: #000000de;
    --text-color-secondary: #0009;
    --primary-color: #673AB7;
    --primary-color-text: #fff;
    --surface-0: #fff;
    --surface-50: #FAFAFA;
    --surface-100: #F5F5F5;
    --surface-200: #eee;
    --surface-300: #E0E0E0;
    --surface-400: #BDBDBD;
    --surface-500: #9E9E9E;
    --surface-600: #757575;
    --surface-700: #616161;
    --surface-800: #424242;
    --surface-900: #212121;
    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #eee;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-800: #424242;
    --gray-900: #212121;
    --content-padding: 1rem;
    --inline-spacing: 0.5rem;
    --border-radius: 4px;
    --surface-ground: #fafafa;
    --surface-section: #fff;
    --surface-card: #fff;
    --surface-overlay: #fff;
    --surface-border: #0000001f;
    --surface-border-a: #00000061;
    --surface-hover: #0000000a;
    --error: #b00020;
    --focus-ring: none;
    --maskbg: #00000052;
  }
}
